page-navigation {
    .tab{
        background: linear-gradient(200deg, rgb(230, 238, 245), rgb(157, 151, 243));
    }
    .alert-md .alert-head{
        background-color: darkcyan;
    }

    .alert-md .alert-title{
        color:blueviolet;
        text-align: center;
    }
    
    .alert-md .alert-sub-title{
        text-align: center;
    }
}
